* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: 50px;
    width: 100%;
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
}

.container {
    width: calc(100% - 40px);
    max-width: 1440px;
    padding: 5px 20px;
    margin: 0 auto;
}

.container--header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 50px;
    height: 50px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    cursor: pointer;
    transition: all 0.3ms;
}

.nav-item:hover {
    color: #BDAF9D;
    text-decoration: underline;
}

.header__logo:hover,
.nav-item--active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav-item--active:hover {
    filter: none;
}